<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    A U T H E N T I F Y
  </title>
  <link href="../assets/style.css" rel="stylesheet" />
  <style>
    body, html {
      height: 90%;
      padding: 10px;
      background-position: center;
    }
  </style>
</head>
<body class="welcome_page">
  <a class="main_title"><b>A U T H E N T I F Y</b></a>
  <div class="navs">
    <a href="/users/register" class="btn btn-success btn-round btn-lg">Sign Up</a>
    <a href="/users/login" class="btn btn-success btn-round btn-lg">Login</a>
  </div>
</body>
</html>
