.navs{
  position:absolute;
  padding: 20px;
  top:0;
  right:0;
}
.main_title{
  color:white;
  font-size: 50px;
}
#info{
 position:absolute;
 top: 30%;
 left: 50%;
 width:30em;
 height:30em;
 margin-top: -9em;
 margin-left: -15em; 
}
.welcome_page{
  background: url("../assets/images/login.gif") no-repeat center;
  height: 100%;
  background-size: cover;
}
.card-img-top{
  background: url("../assets/images/auth.gif") no-repeat center ;
  height: 100%;
}
